@import "../../vars";

.users{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  hr {
    border: 1px solid $border-dark;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.modal {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  background-color: rgba($text-dark, 0.2);
  align-items: center;

}


